
$base-bg1: #232323;
$base-bg2: #525252;

$base-button-bg: rgba(46, 57, 68, 0.50);

$default-bg: rgba(46, 57, 68, 0.50);

$nav-bg-up: #222222;
$nav-bg-side: #313131;

$base-text-color: #e0e0e0;
$base-link-color: #7d8bf9;

$base-accent: #FF5722;

$base-border-color: #5f5f5f;
$base-border-radius: 4px;
