
@import "../../../variables.base.scss";

:host {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100vw;
  flex-direction: row;
  background-color: $nav-bg-up;
  border-bottom: 2px solid $base-border-color;
}


.nav-up-item:hover {
  background-color: rgba(75, 135, 78, 0.5);
  color: white;
}

.nav-up-item {
  /*background-color: $base-button-bg;*/
  background: linear-gradient(to right, rgba(75, 135, 78, 0.5) 1%, $base-button-bg 13%);
  /*border-left: 5px solid #4CAF50;*/
  display: inline-flex;
  padding: 1rem 3rem 1rem 3rem;
  flex: 1;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  transition: all 0.5s;
}



.nav-up-item-stretch {
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}
