
@import "../variables.base.scss";

:host {
  color: $base-text-color;
  background: linear-gradient(to top, $base-bg1, $base-bg2);
  width: 100vw;
  height: 100vh;
  display: block;
}

.app-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-grow: 0;
  flex-shrink: 1;
}
