
:host {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: auto;
}

.admin-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  flex-direction: column;
}
