/*@import "../../variables.base.scss";*/

:host {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: auto;
}

  :host ::ng-deep .language-typescript {
    margin-top: 0;
    margin-bottom: 0;
  }
